footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
}

main {
    padding: 2rem 2rem;
}

/*Form & Inputs*/

input {
    width: 100%;
    height: 2rem;
    float: left;
    font-size: 1rem;
    border-bottom: .1rem solid var(--secondary-black);
    margin: 1.5rem 0;
    padding-bottom: 1rem;
}

textarea {
    min-height: 6rem;
    min-width: 100%;
    max-height: 18rem;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;
    border-bottom: .1rem solid var(--secondary-black);
}

.submit {
    width: fit-content;
    height: 3rem;
    padding: .25rem 2rem;
}

.buttonWrap img {
    height: 4rem;
    text-align: center;
}

/* Hover States */

.buttonWrap input:hover, .buttonWrap img:hover {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.buttonWrap input:hover {
    background-color: white;
    color: var(--primary-accent);
}

.buttonWrap img:hover {
    transform: scale(1.1);
}

form .submit:hover {
    cursor: pointer;
}