img {
    width: 100%;
}

.topLine img {
    margin: 0 0 2rem;
}

#intro {
    position: absolute;
    top: 15%;
    color: white;
    width: auto;
    height: 6rem;
    background: var(--primary-accent);
    text-align: center;
}

#intro h1 {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1.5rem 0 3rem;
}

<<<<<<< HEAD .resume {
    text-align: center;
}

.resume h1 {
    text-align: left;
}

.resume img {
    width: 75%;
}

.service {
    width: 100%;
    float: left;
}

/*
@media only screen and (min-width: 500px) {
    .service {
        width: 50%;
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 750px) {
    .service {
        width: 33%;
        padding: 0 1rem;
    }
}
*/
