img {
    width: 100%;
}

#hero img {
    margin: 0 0 1rem;
    /* max-height: 70vh; */
    object-fit: cover;
}

#heroBanner {
    position: absolute;
    top: calc(40vh*.85);
    left: 10vw;
    color: white;
    background: var(--primary-accent);
}

#heroBanner h1 {
    font-family: reklame-script, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
    font-size: 200%;
}

p:first-child {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

#resume {
    text-align: center;
}

#resume img {
    width: 100%;
    max-width: 768px;
    margin-bottom: 0;
}

/* Hover States */

#resume img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

#resume img:hover {
    box-shadow: 5px 10px #ccc;
}

@media only screen and (min-width: 1100px) {
    #heroBanner {
        top: 40vh;
    }
    #heroBanner h1 {
        font-size: 250%;
    }
}