html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'offerings';
    font-style: normal;
    font-weight: normal;
    src: url('../font/offerings_regular-webfont.woff') format('woff2'),
        url('../font/offerings_regular-webfont.woff') format('woff');
}

:root {
    --primary-black: rgba(0, 0, 0, .85);
    --secondary-black: #353535;
    --primary-accent: #c4493f;

    --header-height: 4rem;
}

body {
    background-position: center;
    background-size: auto, cover;
    text-align: center;
    background-image: url("../graphics/pattern.png");
}

main {
    padding: 0 2rem;
}

main h1,
main h2,
main h3,
main p,
.button,
img {
    margin: 1rem 0;
}

h1 {
    font-size: 1.25rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

p,
p1,
p2 {
    font-size: .75rem;
    font-weight: 500;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

/* Nav */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary-black);
    text-align: center;
}

#logo {
    margin: 0;
    padding: .5rem;
    width: var(--header-height);
    float: left;
    z-index: 25;
}

#header h1 {
    color: white;
    width: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
    transform: translateY(-.5rem);
}

/* #spacer {
    width: 100%;
    height: 10rem;
} */

#toggleButton span {
    display: block;
    width: 2rem;
    height: .25rem;
    background-color: white;
    margin: .5rem;
    border-radius: .1rem;
}

#toggleButton {
    margin: .75rem;
    z-index: 15;
    position: absolute;
    right: 0;
    top: 0;
}

#navBack {
    position: fixed;
    z-index: 5;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
}

nav {
    position: fixed;
    z-index: 20;
    width: 15rem;
    height: 100vh;
    background-color: white;
    color: black;
    transition: all 225ms linear;
    top: var(--header-height);
    right: -15rem;
}

#home h1:nth-of-type(2) {
    display: none;
}

#navActive {
    right: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul,
nav li,
nav p {
    width: 100%;            
}

nav li {
    margin: 2rem 0;
    height: 5rem;
    padding-left: 1.75rem;
}

.activeLi {
    fill: var(--primary-accent);
    color: var(--primary-accent);
}

nav svg {
    float: left;
    width: 2rem;
    height: fill-available;
    height: -webkit-fill-available;
    margin: 0 1rem;
}

nav h1 {
    position: relative;
    float: left;
    font-size: 1.5rem;
    font-weight: 100;
    width: 9rem;
    height: fill-available;
    height: -webkit-fill-available;
    text-align: left;
    margin: 0;
    padding: 1.75rem 0 0 0;
}

nav p {
    position: absolute;
    bottom: 15%;
    color: #828282;
}

/* Main + Services */

main {
    max-width: 1200px;
    margin: auto;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    grid-column-gap: 4rem;
    justify-items: center;
}

.service {
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.service p1 {
    margin-bottom: 1rem;
}

/*Content Buttons*/

.buttonWrap {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button, .submit {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-accent);
    color: white;
    border: .1rem solid var(--primary-accent);
    border-radius: .5rem;
    text-align: center;
    font-size: 1rem;
}

.button h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

/*Footer*/

footer {
    padding: 1rem;
    background-color: var(--primary-accent);
    color: white;
    max-height: 12rem;
}

footer .button {
    border: .1rem solid white;
    margin: 1rem 0 1rem;
}

/* Footer Toggle */

#footerToggle {
    position: absolute;
    top: .75rem;
    right: 0;
    margin: .5rem;
}

#footerToggle span {
    display: block;
    width: 1.5rem;
    height: .25rem;
    background-color: white;
    margin: .5rem;
}

#footerToggle span:first-of-type {
    transform: rotate(45deg);
}

#footerToggle span:last-of-type {
    transform: rotate(-45deg) translateY(-.5rem) translateX(.5rem);
}

/* Hover States */

h,
h1,
h2,
h3,
p,
p1 {
    cursor: default;
}

nav h1, .services p, .button h1 {
    cursor: pointer;
}

.button,
#logo,
nav li,
.activeLi,
nav a, 
.service,
#toggleButton,
#footerToggle,
#footerToggle span,
#main_digPub img {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

nav,
#navBack,
footer {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/* #logo:hover {
    Not working as expected atm
    transform: scale(1.1);
} */

nav li:hover {
    background-color: #ededed;
}

#toggleButton:hover {
    cursor: pointer;
    transform: translateX(-.5rem);
}

#toggleButton:hover span, #footerToggle:hover span {
    background-color: #777777;
}

.service:hover {
    background-color: white;
    box-shadow: 5px 10px #ccc;
}

.button:hover {
    background-color: white;
    color: var(--primary-accent);
    border: .1rem solid var(--primary-accent);
}

footer .button:hover {
    border: .1rem solid white;
}

/*Media Queries: General*/

@media only screen and (min-width: 48em) {

    footer h1,
    footer p {
        text-align: left;
    }

    #footerWrap {
        max-width: 75em;
        padding: 0 1rem;
        margin: auto;
    }

    #wordWrap {
        width: 75%;
        height: 100%;
        float: left;
        margin: auto;
    }

    footer .buttonWrap {
        width: 25%;
    }

    .service p {
        height: 2.5rem;
        line-height: 1.25rem;
    }
}

/* Media Queries: Nav */

@media only screen and (min-width: 55.625em) {

    #logo, #home svg, #home h1:nth-of-type(1), #toggleButton,
    nav p, #navBack, #header {
        display: none;
    }

    #home h1:nth-of-type(2) {
        display: block;
    }

    nav {
        top: 0;
        left: 0;
        width: 100vw;
        height: var(--header-height);
        background-color: var(--primary-black);
    }

    nav ul {
        float: right;
    }

    #home {
        display: block;
        float: left;
    }

    #home h1:nth-of-type(2) {
        width: fit-content;
    }

    nav li {
        width: fit-content;
        height: var(--header-height);
        margin: 0 1rem;
        float: right;
        color: white;
        fill: white;
        padding: 0 1rem;
    }

    nav li:first-child {
        margin-left: 0;
    }

    nav li:hover {
        background-color: var(--secondary-black);
        color: white;
        fill: white;
    }

    nav svg, nav h1 {
        margin: 0 .5rem;
    }

    nav svg {
        width: 1.5rem;
        float: left;
    }

    nav h1 {
        width: min-content;
        float: left;
        transform: translateY(-10%);
        font-weight: normal;
        font-size: 1.25rem;
    }
}