img {
    width: 100%;
}

main {
    text-align: left;
}

main h1 {
    margin: 2rem 0;
    text-align: center;
}

main p, main p1, main p2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1.75rem 0;
    line-height: 2rem;
    clear: left;
}

.service h2 {
    text-align: center;
}

.services, main {
    padding-top: var(--header-height);
}

.service {
    width: 100%;
}

.services a {
    margin-bottom: 1rem;
}

main p1 {
    font-weight: bold;
}

main p2 {
    text-decoration: underline;
}

/* Footer */

@media only screen and (min-width: 39.25em) {
    #footer_portfolio {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

/* Grids */

#grids {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    grid-column-gap: 4rem;
    justify-items: center;
}

main p:last-of-type, main p:first-of-type {
    text-align: center;
}

main img {
    padding: 0 1rem;
}

#visit1, #visit2 {
    color: var(--primary-accent);
    font-weight: bold;
    text-decoration: underline;
}

#visit1:hover, #visit2:hover {
    color: maroon;
}

/* Zodiac */

@media only screen and (min-width: 55.625em) {

#main_zodiac img {
    float: left;
    width: 33%;
}
}

/* Savas */

#main_savas li {
    list-style: disc outside none;
    text-indent: 3rem;
    margin: 1rem 0;
}

#main_savas li:last-child {
    text-indent: 3rem;
    margin: 1rem 0 0;
}

#main_savas img:nth-of-type(7) {
    float: right;
    width: 39.25%;
    padding: .25rem;
    margin: 0 0 1rem;
}

#main_savas img:nth-of-type(8), #main_savas img:nth-of-type(9) {
    float: left;
    width: 60.75%;
    padding: .25rem;
    margin: 0;
}

#main_savas img:nth-of-type(9) {
    margin: 0 0 1rem;
}

@media only screen and (min-width: 55.625em) {
    #main_savas img:nth-of-type(1), #main_savas img:nth-of-type(2), #main_savas img:nth-of-type(3), #main_savas img:nth-of-type(4) {
    float: left;
    width: 50%;
    }

}