img {
    width: 100%;
}

main {
    text-align: left;
}

main h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2rem;
}

main p, main p1, main p2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1.75rem 0;
    line-height: 2rem;
    clear: left;
}

.service h2 {
    text-align: center;
    font-size: 1.25rem;
}

.service {
    width: 100%;
}

.service p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: .5rem 0;
}

.services a {
    margin-bottom: 1rem;
}

main p1 {
    font-weight: bold;
}

main p2 {
    text-decoration: underline;
}

main {
    padding-top: var(--header-height);
}

/* Main padding-top applied when grid flexes to 3 horizontal */

@media only screen and (min-width: 58.875em) {

    main {
        padding: calc(var(--header-height)*2) 2rem var(--header-height);
    }
}

/* Footer */

@media only screen and (min-width: 55.625em) {

    #footer_portfolio {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        clear: left;
    }
}

/* Grids */

#grids {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    grid-column-gap: 4rem;
    justify-items: center;
}

main p:last-of-type, main p:first-of-type {
    text-align: center;
}

main img {
    padding: 0 1rem;
}

#visit1, #visit2 {
    color: var(--primary-accent);
    font-weight: bold;
    text-decoration: underline;
}

#visit1:hover, #visit2:hover {
    filter: grayscale(.75);
}

/* Zodiac */

@media only screen and (min-width: 55.625em) {

    #main_zodiac p {
        padding: 0 5rem;
    }

    #main_zodiac p:nth-of-type(2) {
        padding-top: 2rem;
    }

    #main_zodiac img {
        float: left;
        width: 33%;
    }
}

/* Savas */

#main_savas p:nth-of-type(2) {
    padding-top: 2rem;
}

#main_savas li {
    list-style: disc outside none;
    text-indent: 3rem;
    margin: 1rem 0;
}

#main_savas li:last-child {
    text-indent: 3rem;
    margin: 1rem 0 0;
}

#main_savas a:nth-of-type(7) img {
    float: right;
    width: 39.25%;
    padding: .25rem;
    margin: 0 0 1rem;
}

#main_savas a:nth-of-type(8) img, #main_savas a:nth-of-type(9) img {
    float: left;
    width: 60.75%;
    padding: .25rem;
    margin: 0;
}

#main_savas a:nth-of-type(9) img {
    margin: 0 0 1rem;
}

@media only screen and (min-width: 55.625em) {

    #main_savas a:nth-of-type(1) img, #main_savas a:nth-of-type(2) img, #main_savas a:nth-of-type(3) img, #main_savas a:nth-of-type(4) img {
    float: left;
    width: 50%;
    }

    #main_savas p {
        padding: 0 5rem;
    }
}

/* Digital Publishing */

@media only screen and (min-width: 32em) {

    #main_digPub a {
        width: 50%;
        float: left;
    }
    #footer_digPub {
        clear: left;
    }
}

@media only screen and (min-width: 55.625em) {

    #main_digPub a {
        width: 33%;
        filter: grayscale(1);
    }

    #main_digPub a:hover {
        filter: none;
    }
}