main h1,
h2,
p1,
p {
    text-align: left;
}

main {
    padding-bottom: .5rem;
    padding-top: var(--header-height);
}

main h1 {
    color: var(--primary-accent);
    border-bottom: .2rem solid;
    margin: 1rem 0;
}

p2 {
    float: right;
}

p {
    list-style-type: circle;
}

.divider {
    width: 100%;
    height: 1rem;
}

/* Footer text align center for resume.html
Necessary because resume.css applies {text-align: left;} to h1 & p elements
Resume.css takes priority over styles.css */

footer h1, footer p {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    footer h1,
    footer p {
        text-align: left;
    }
}