html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'offerings';
    font-style: normal;
    font-weight: normal;
    src: url('../font/offerings_regular-webfont.woff') format('woff2'),
        url('../font/offerings_regular-webfont.woff') format('woff');
}

:root {
    --tra-blk: rgba(0, 0, 0, .85);
    --acc-col: #c4493f;

    --primary-black: var(--tra-blk);
    --primary-accent: var(--acc-col);

    --header-height: 10rem;
    --hdr-hgt: var(--header-height);

    --secondary-black: #505050;
    --acc-col2: var(--secondary-black);
}

body {
    background-position: center;
    background-size: auto, cover;
    text-align: center;
    background-image: url("/graphics/pattern.png");
}

.main {
    padding: 0 4rem;
}

.main h,
.main h1,
.main h2,
.main h3,
.main p,
.buttonWrap,
.button,
img {
    margin: 2rem 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

p {
    font-size: 2.2rem;
    font-weight: 500;
}

header {
    position: fixed;
    z-index: 10;
    height: var(--header-height);
    background-color: var(--primary-black);
    width: 100%;
    color: white;
}

header img {
    margin: 0;
    padding: 1.5rem;
    width: 10rem;
}

header a {
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
}

.title {
    position: absolute;
    top: .6rem;
    width: 100%;
    text-align: center;
}

.title h1 {
    font-weight: normal;
}

.spacer {
    width: 100%;
    height: var(--header-height);
}

/* Nav */

.nav,
.navActive {
    position: fixed;
    z-index: 5;
    width: 40rem;
    height: 100vh;
    background-color: white;
    color: black;
    transition: all 225ms linear;
    margin-top: var(--header-height);
}

.nav {
    right: -40rem;
}

.navActive {
    right: 0;
}

.navBack {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav ul,
.nav li,
#lastLi {
    width: 100%;
}

.nav ul {
    margin-top: 4rem;
}

.nav li {
    margin-bottom: 4rem;
    height: 10rem;
}

#lastLi {
    position: absolute;
    bottom: 15%;
    height: 2rem;
    margin: auto;
    text-align: center;
    color: #828282;
}

.nav img {
    float: left;
    margin: 0 3.5rem 0 5.5rem;
    width: 6rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav h2 {
    position: relative;
    float: left;
    font-size: 4rem;
    font-weight: 100;
    max-width: 70%;
    top: 50%;
    transform: translateY(-50%);
}

#toggleButton span {
    display: block;
    width: 5rem;
    height: .4rem;
    background-color: white;
    margin: 1rem 0;
}

#toggleButton {
    position: absolute;
    z-index: 15;
    right: 3rem;
    top: 2.6rem;
}

/*Content Buttons*/

.buttonWrap {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 1.8rem 2.6rem;
    background-color: var(--primary-accent);
    color: white;
    border: .3rem solid var(--primary-accent);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
}

/*Footer*/

footer {
    padding: 1rem 4rem;
    background-color: var(--primary-accent);
    color: white;
}

footer .button {
    border: .3rem solid white;
    margin: 1rem 0;
}

/* Hover States */

.button,
header img,
.nav li,
#activeLi,
.nav a {
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

.nav li:hover {
    background-color: #ededed;
}

#activeLi {
    color: var(--primary-accent);
}

#toggleButton:hover {
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: var(--primary-accent);
    border: .3rem solid var(--primary-accent);
}

footer .button:hover {
    border: .3rem solid white;
    margin: 1rem 0;
}

/*Media Queries*/

@media (min-width: 400px) {
    .services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
        grid-column-gap: 5rem;
        justify-items: center;
    }

    .main {
        max-width: 1200px;
        margin: auto;
    }

    html {
        font-size: 60%;
    }

    needs to reference internals .main {
        padding: 0 15rem;
    }

    .main h,
    .main h1,
    .main h2,
    .main h3,
    .main p,
    .buttonWrap,
    .button,
    img {
        margin: 3rem 0;
    }

}

@media (min-width: 768px) {

    #toggleButton,
    #lastLi {
        display: none;
    }

    .spacer {
        height: calc(var(--header-height)*1.75)
    }

    .nav {
        right: 0;
        width: 100vw;
        height: calc(var(--header-height)*.75);
        background-color: rgba(255, 255, 255, .5);

    }

    .nav ul {
        margin: 0;
    }

    .nav li {
        width: 25%;
        height: calc(var(--header-height)*.75);
        margin: 0;
        float: left;
    }

    .nav li:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    .nav img {
        float: left;
        margin: 0;
        width: 4.5rem;
        height: 100%;
        position: relative;
        top: 0;
        transform: translateY(0);
        transform: translateX(50%);
    }

    .nav h2 {
        float: left;
        position: relative;
        font-size: 3rem;
        width: 75%;
    }

}
